In [1]:
%load_ext autoreload
%autoreload 2
import sys
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
mpl.rcParams['ps.fonttype'] = 42
mpl.rcParams['font.sans-serif'] = "Arial"
mpl.rcParams['font.family'] = "sans-serif"
import time
import glob
import re
import random
import torch

sys.path.insert(0, '/Data/user/panhailin/git_lab/npspy')
import npspy as nps
from npspy import npsc

In [2]:
all_peps = ['hp1_1', 'hp1_2', 'hp1_3', 'hp1_4', 'hp1_5', 'hp1_6', 'hp1_7', 'hp1_8', 'hp1_9',
            'hp2_1', 'hp2_2', 'hp2_3', 'hp2_4', 'hp2_5', 'hp2_6',]
            #'hp3_2', 'hp3_3', 'hp3_4', 'hp3_5', 'hp3_6', 'hp3_7', 'hp3_9', 'hp3_10', 'hp3_11']

In [3]:
stat_df = []
for pep in all_peps:
    clean_80_obj = nps.io.read_pickle(f"../../../03.results/classification_on_clean_data/hp12/{pep}/{pep}_valid80_clean_obj.pkl")
    clean_20_obj = nps.io.read_pickle(f"../../../03.results/classification_on_clean_data/hp12/{pep}/{pep}_valid20_clean_obj.pkl")
    stat_df.append([pep, len(clean_80_obj), len(clean_20_obj)])
stat_df = pd.DataFrame(stat_df, columns=['pep', 'v80_clean', 'v20_clean'])
stat_df = stat_df.set_index('pep')
stat_df

       v80_clean  v20_clean
pep
hp1_1      45305      11271
hp1_2     113200      28266
hp1_3      77767      19404
hp1_4      53813      13531
hp1_5      49136      12331
hp1_6      56300      14103
hp1_7      66315      16529
hp1_8      27249       6897
hp1_9      41253      10343
hp2_1     114339      28457
hp2_2      37341       9325
hp2_3      71356      17938
hp2_4      29475       7369
hp2_5      45705      11417
hp2_6      35359       8909

In [4]:
stat_df.sort_values(by='v80_clean')

       v80_clean  v20_clean
pep
hp1_8      27249       6897
hp2_4      29475       7369
hp2_6      35359       8909
hp2_2      37341       9325
hp1_9      41253      10343
hp1_1      45305      11271
hp2_5      45705      11417
hp1_5      49136      12331
hp1_4      53813      13531
hp1_6      56300      14103
hp1_7      66315      16529
hp2_3      71356      17938
hp1_3      77767      19404
hp1_2     113200      28266
hp2_1     114339      28457

In [5]:
valid_stat_df = pd.read_csv("../../../../opo/02.analyses/02.hp123/03.tables/combine_valid_read_stat.csv", index_col=0)

In [6]:
valid_stat_df = valid_stat_df[['valid80', 'valid20']]

In [7]:
all_stat_df = pd.concat([valid_stat_df, stat_df], axis=1)
all_stat_df

        valid80  valid20  v80_clean  v20_clean
hp1_1     64040    16011    45305.0    11271.0
hp1_2    159533    39884   113200.0    28266.0
hp1_3    104580    26145    77767.0    19404.0
hp1_4     74710    18677    53813.0    13531.0
hp1_5     66141    16534    49136.0    12331.0
hp1_6     74631    18657    56300.0    14103.0
hp1_7     92404    23100    66315.0    16529.0
hp1_8     36166     9041    27249.0     6897.0
hp1_9     56471    14118    41253.0    10343.0
hp2_1    160840    40210   114339.0    28457.0
hp2_2     53235    13308    37341.0     9325.0
hp2_3    101893    25474    71356.0    17938.0
hp2_4     41728    10431    29475.0     7369.0
hp2_5     64863    16215    45705.0    11417.0
hp2_6     50657    12664    35359.0     8909.0
hp3_10    33120     8280        NaN        NaN
hp3_11    40789    10197        NaN        NaN
hp3_2     40371    10093        NaN        NaN
hp3_3     19691     4922        NaN        NaN
hp3_4     50646    12661        NaN        NaN
hp3_5     42714    10678        NaN        NaN
hp3_6     36707     9176        NaN        NaN
hp3_7     50790    12697        NaN        NaN
hp3_9     56724    14181        NaN        NaN

In [8]:
all_stat_df['v80_clean_percent'] = all_stat_df['v80_clean'] / all_stat_df['valid80']
all_stat_df['v20_clean_percent'] = all_stat_df['v20_clean'] / all_stat_df['valid20']

In [10]:
all_stat_df.to_csv('../../../04.tables/classification/hp/filter_stat.csv')
all_stat_df

,valid80,valid20,v80_clean,v20_clean,v80_clean_percent,v20_clean_percent
hp1_1,64040,16011,45305.0,11271.0,0.707448,0.703954
hp1_2,159533,39884,113200.0,28266.0,0.709571,0.708705
hp1_3,104580,26145,77767.0,19404.0,0.743613,0.742169
hp1_4,74710,18677,53813.0,13531.0,0.720292,0.724474
hp1_5,66141,16534,49136.0,12331.0,0.742898,0.745797
hp1_6,74631,18657,56300.0,14103.0,0.754378,0.755909
hp1_7,92404,23100,66315.0,16529.0,0.717664,0.715541
hp1_8,36166,9041,27249.0,6897.0,0.753442,0.762858
hp1_9,56471,14118,41253.0,10343.0,0.730517,0.732611
hp2_1,160840,40210,114339.0,28457.0,0.710887,0.707710
hp2_2,53235,13308,37341.0,9325.0,0.701437,0.700706
hp2_3,101893,25474,71356.0,17938.0,0.700303,0.704169
hp2_4,41728,10431,29475.0,7369.0,0.706360,0.706452
hp2_5,64863,16215,45705.0,11417.0,0.704639,0.704101
hp2_6,50657,12664,35359.0,8909.0,0.698008,0.703490
hp3_10,33120,8280,NaN,NaN,NaN,NaN
hp3_11,40789,10197,NaN,NaN,NaN,NaN
hp3_2,40371,10093,NaN,NaN,NaN,NaN
hp3_3,19691,4922,NaN,NaN,NaN,NaN
hp3_4,50646,12661,NaN,NaN,NaN,NaN
hp3_5,42714,10678,NaN,NaN,NaN,NaN
hp3_6,36707,9176,NaN,NaN,NaN,NaN
hp3_7,50790,12697,NaN,NaN,NaN,NaN
hp3_9,56724,14181,NaN,NaN,NaN,NaN

In [11]:
np.mean(all_stat_df['v80_clean_percent']), np.mean(all_stat_df['v20_clean_percent'])

(np.float64(0.7200971246856718), np.float64(0.7212430278292135))