In [1]:
%load_ext autoreload
%autoreload 2
import sys
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42
mpl.rcParams['ps.fonttype'] = 42
mpl.rcParams['font.sans-serif'] = "Arial"
mpl.rcParams['font.family'] = "sans-serif"
import time
import glob
import re
import random
import torch

sys.path.insert(0, '/Data/user/panhailin/git_lab/npspy')
import npspy as nps
from npspy import npsc

In [2]:
all_peps = [
    '1A', '1C', '1D', '1E', '1F', '1G', '1H', '1I', '1K', '1L', '1M', '1N', '1P', '1Q', '1R', '1S', '1T', '1V', '1W', '1Y',

    '1pS', '1SMe', '3SMe', '1SAc', '3SAc', '1Soct', '3Soct', 
    '3I', '3L', '3dI', '3dL', '1D02', '1R02', '1Y02', '1W02',
           
]

In [3]:
stat_df = []
for pep in all_peps:
    clean_80_obj = nps.io.read_pickle(f"../../../03.results/classification_on_clean_data/GSXGS/{pep}/{pep}_valid80_clean_obj.pkl")
    clean_20_obj = nps.io.read_pickle(f"../../../03.results/classification_on_clean_data/GSXGS/{pep}/{pep}_valid20_clean_obj.pkl")
    stat_df.append([pep, len(clean_80_obj), len(clean_20_obj)])
stat_df = pd.DataFrame(stat_df, columns=['pep', 'v80_clean', 'v20_clean'])
stat_df = stat_df.set_index('pep')
stat_df

       v80_clean  v20_clean
pep
1A         30668       7681
1C         14898       3733
1D         50784      12592
1E         35908       8946
1F         21069       5257
1G         40300      10180
1H         15885       3922
1I         91304      22808
1K         85097      21295
1L         75404      18780
1M         19814       4912
1N         24049       5939
1P         44292      10989
1Q         43747      10980
1R         38671       9705
1S         18057       4500
1T         20486       5068
1V         30754       7629
1W         16723       4178
1Y         14527       3678
1pS        20856       5198
1SMe       20327       4967
3SMe       14793       3654
1SAc       17484       4381
3SAc       26799       6755
1Soct      28476       7066
3Soct      26205       6522
3I         97234      24238
3L         63971      16028
3dI        23568       5895
3dL        16253       4030
1D02       20454       5090
1R02       32805       8241
1Y02       38707       9741
1W02       25455       6342

In [5]:
stat_df.sort_values(by='v80_clean')

       v80_clean  v20_clean
pep
1Y         14527       3678
3SMe       14793       3654
1C         14898       3733
1H         15885       3922
3dL        16253       4030
1W         16723       4178
1SAc       17484       4381
1S         18057       4500
1M         19814       4912
1SMe       20327       4967
1D02       20454       5090
1T         20486       5068
1pS        20856       5198
1F         21069       5257
3dI        23568       5895
1N         24049       5939
1W02       25455       6342
3Soct      26205       6522
3SAc       26799       6755
1Soct      28476       7066
1A         30668       7681
1V         30754       7629
1R02       32805       8241
1E         35908       8946
1R         38671       9705
1Y02       38707       9741
1G         40300      10180
1Q         43747      10980
1P         44292      10989
1D         50784      12592
3L         63971      16028
1L         75404      18780
1K         85097      21295
1I         91304      22808
3I         97234      24238

In [6]:
valid_stat_df = pd.read_csv("../../../../opo/02.analyses/04.GSXGS/02.get_valid_reads/03.tables/read_combine_stat.csv", index_col=0)

In [7]:
valid_stat_df = valid_stat_df[['valid80', 'valid20']]

In [8]:
all_stat_df = pd.concat([valid_stat_df, stat_df], axis=1)
all_stat_df

       valid80  valid20  v80_clean  v20_clean
1A       44811    11203      30668       7681
1C       21061     5265      14898       3733
1D       68988    17247      50784      12592
1D02     28124     7031      20454       5090
1E       50370    12592      35908       8946
1F       30080     7520      21069       5257
1G       56394    14099      40300      10180
1H       23151     5788      15885       3922
1I      129730    32433      91304      22808
1K      119142    29786      85097      21295
1L      107489    26872      75404      18780
1M       29038     7260      19814       4912
1N       34720     8680      24049       5939
1P       63730    15932      44292      10989
1Q       64378    16094      43747      10980
1R       55069    13767      38671       9705
1R02     45297    11324      32805       8241
1S       25665     6416      18057       4500
1SAc     25693     6423      17484       4381
1SMe     29074     7268      20327       4967
1Soct    40022    10005      28476       7066
1T       29607     7402      20486       5068
1V       44513    11128      30754       7629
1W       23656     5914      16723       4178
1W02     35319     8829      25455       6342
1Y       21203     5301      14527       3678
1Y02     54231    13558      38707       9741
1pS      28626     7157      20856       5198
3I      134042    33511      97234      24238
3L       89058    22264      63971      16028
3SAc     39587     9896      26799       6755
3SMe     22692     5673      14793       3654
3Soct    35344     8836      26205       6522
3dI      32823     8206      23568       5895
3dL      22274     5569      16253       4030

In [9]:
all_stat_df['v80_clean_percent'] = all_stat_df['v80_clean'] / all_stat_df['valid80']
all_stat_df['v20_clean_percent'] = all_stat_df['v20_clean'] / all_stat_df['valid20']

In [10]:
all_stat_df.to_csv('../../../04.tables/classification/GSXGS/filter_stat.csv')

In [11]:
all_stat_df

,valid80,valid20,v80_clean,v20_clean,v80_clean_percent,v20_clean_percent
1A,44811,11203,30668,7681,0.684386,0.685620
1C,21061,5265,14898,3733,0.707374,0.709022
1D,68988,17247,50784,12592,0.736128,0.730098
1D02,28124,7031,20454,5090,0.727279,0.723937
1E,50370,12592,35908,8946,0.712885,0.710451
1F,30080,7520,21069,5257,0.700432,0.699069
1G,56394,14099,40300,10180,0.714615,0.722037
1H,23151,5788,15885,3922,0.686147,0.677609
1I,129730,32433,91304,22808,0.703800,0.703234
1K,119142,29786,85097,21295,0.714249,0.714933
1L,107489,26872,75404,18780,0.701504,0.698869
1M,29038,7260,19814,4912,0.682347,0.676584
1N,34720,8680,24049,5939,0.692656,0.684217
1P,63730,15932,44292,10989,0.694995,0.689744
1Q,64378,16094,43747,10980,0.679533,0.682242
1R,55069,13767,38671,9705,0.702228,0.704947
1R02,45297,11324,32805,8241,0.724220,0.727746
1S,25665,6416,18057,4500,0.703565,0.701372
1SAc,25693,6423,17484,4381,0.680497,0.682080
1SMe,29074,7268,20327,4967,0.699147,0.683407
1Soct,40022,10005,28476,7066,0.711509,0.706247
1T,29607,7402,20486,5068,0.691931,0.684680
1V,44513,11128,30754,7629,0.690899,0.685568
1W,23656,5914,16723,4178,0.706924,0.706459
1W02,35319,8829,25455,6342,0.720717,0.718315
1Y,21203,5301,14527,3678,0.685139,0.693831
1Y02,54231,13558,38707,9741,0.713743,0.718469
1pS,28626,7157,20856,5198,0.728568,0.726282
3I,134042,33511,97234,24238,0.725400,0.723285
3L,89058,22264,63971,16028,0.718307,0.719907
3SAc,39587,9896,26799,6755,0.676965,0.682599
3SMe,22692,5673,14793,3654,0.651904,0.644104
3Soct,35344,8836,26205,6522,0.741427,0.738117
3dI,32823,8206,23568,5895,0.718033,0.718377
3dL,22274,5569,16253,4030,0.729685,0.723649